<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Usuarios_Web</display-name>

	<servlet>
		<servlet-name>ModificarRolServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.ModificarRolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrarRolServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.CrearRolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EliminarRolServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.EliminarRolServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PermisosRolServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.PermisosRolServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificarRolServlet</servlet-name>
		<url-pattern>/modificarRol</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarRolServlet</servlet-name>
		<url-pattern>/registrarRol</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarRolServlet</servlet-name>
		<url-pattern>/eliminarRol</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PermisosRolServlet</servlet-name>
		<url-pattern>/permisosRol</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>descargaLicenciaServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.DescargaLicenciaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>limpiarSesionServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.LimpiarSesionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>consultarUsuarioServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.ConsultarUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>activacionUsuarioServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.ActivacionUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>modificarRolUsuarioServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.ModificarRolUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>consultarEstadisticasUsuarioServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.ConsultarEstadisticasUsuarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>descargaEstadisticasServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.DescargaEstadisticasServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>borrarArchivosServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.servlets.BorrarArchivosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>co.gov.ideamredd.ui.servlets.IdiomaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>descargaLicenciaServlet</servlet-name>
		<url-pattern>/descargaLicenciaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>limpiarSesionServlet</servlet-name>
		<url-pattern>/limpiarSesionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>consultarUsuarioServlet</servlet-name>
		<url-pattern>/consultarUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>activacionUsuarioServlet</servlet-name>
		<url-pattern>/activacionUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>modificarRolUsuarioServlet</servlet-name>
		<url-pattern>/modificarRolUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>consultarEstadisticasUsuarioServlet</servlet-name>
		<url-pattern>/consultarEstadisticasUsuarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>descargaEstadisticasServlet</servlet-name>
		<url-pattern>/descargaEstadisticasServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>borrarArchivosServlet</servlet-name>
		<url-pattern>/borrarArchivosServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/idiomaServlet</url-pattern>
	</servlet-mapping>
		
</web-app>