

div.services-discovery-panel {

    
}


div.services-discovery-panel select {

    float: left;
}


div.services-discovery-panel span.yui-push-button {

    float: left;    
}


div.services-discovery-panel div.clear-float {

    clear: both;
}


div.services-discovery-panel div.results {

}


div.services-discovery-panel h3.section-label {

    
}



div.services-discovery-panel div.results table {

    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
