<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Parcelas-Web</display-name>
  <servlet>
    <servlet-name>RegistrarParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.RegistrarParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CapturaDatosParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.CapturaDatosParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverImagenParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.RemoverImagenParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CapturaLocalizacionParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.CapturaLocalizacionParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CapturaContactosParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.CapturaContactosParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuscarContactoParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.BuscarContactoParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrarContactoParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.RegistrarContactoParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificarContactoParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.ModificarContactoParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificarParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.ModificarParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportarReporteParcelaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.ExportarReporteParcelaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DescargarImagenServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.DescargarImagenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>consultaInventarioSueloServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.ConsultaInventarioSueloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>datosAModificarISueloServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.DatosAModificarISueloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modificarInventarioSueloServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.ModificarInventarioSueloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>detallarInventarioSueloServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.DetallarInventarioSueloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>datosARegistrarISueloServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.DatosARegistrarISueloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registrarInventarioSueloServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.RegistrarInventarioSueloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>descargaMetodologiaServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.DescargaMetodologiaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>redireccionServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.RedireccionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportarReporteParcelaServlet</servlet-name>
    <url-pattern>/exportarReporte/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CapturaDatosParcelaServlet</servlet-name>
    <url-pattern>/registrardatosparcela</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverImagenParcelaServlet</servlet-name>
    <url-pattern>/removerimagenparcela</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CapturaLocalizacionParcelaServlet</servlet-name>
    <url-pattern>/registrarlocalizacionparcela</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CapturaContactosParcelaServlet</servlet-name>
    <url-pattern>/registrarcontactosparcela</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuscarContactoParcelaServlet</servlet-name>
    <url-pattern>/buscarcontacto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrarContactoParcelaServlet</servlet-name>
    <url-pattern>/registrarcontacto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificarContactoParcelaServlet</servlet-name>
    <url-pattern>/modificarcontacto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrarParcelaServlet</servlet-name>
    <url-pattern>/registrarparcela</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificarParcelaServlet</servlet-name>
    <url-pattern>/modificarparcela</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DescargarImagenServlet</servlet-name>
    <url-pattern>/descargarImagen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>consultaInventarioSueloServlet</servlet-name>
    <url-pattern>/consultaInventarioSueloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modificarInventarioSueloServlet</servlet-name>
    <url-pattern>/modificarInventarioSueloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>detallarInventarioSueloServlet</servlet-name>
    <url-pattern>/detallarInventarioSueloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>datosARegistrarISueloServlet</servlet-name>
    <url-pattern>/datosARegistrarISueloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registrarInventarioSueloServlet</servlet-name>
    <url-pattern>/registrarInventarioSueloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>datosAModificarISueloServlet</servlet-name>
    <url-pattern>/datosAModificarISueloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>descargaMetodologiaServlet</servlet-name>
    <url-pattern>/descargaMetodologiaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>redireccionServlet</servlet-name>
    <url-pattern>/redireccion</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>