* {
	margin: 0;
	padding: 0
} 

#accordion {
	width: 459px;
	margin: 50px auto
}

.accordion {
	width: 459px;
	font: 12px Verdana, Arial;
	color: #033
}

.accordion dt {
	width: 600px;
	border: 2px solid #9ac1c9;
	padding: 8px;
	font-weight: bold;
	margin-top: 5px;
	cursor: pointer;
	background: url(images/header.gif)
}

.accordion dt:hover {
	background: url(images/header_over.gif)
}

.accordion dd {
	overflow: hidden;
	//height: auto !important;
	background: #fff
}

