<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Proyectos-Web</display-name>
  <servlet>
    <servlet-name>redireccionServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.RedireccionesServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>consultaReporteServlet</servlet-name>
    <servlet-class>co.gov.ideamredd.servlets.ConsultarReporteProyectoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redireccionServlet</servlet-name>
    <url-pattern>/redireccion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>consultaReporteServlet</servlet-name>
    <url-pattern>/consultaReporte</url-pattern>
  </servlet-mapping>
</web-app>