<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>AdmIF</display-name>
 <context-param>
  <param-name>RED_host</param-name>
  <param-value>oracle_datum</param-value>
 </context-param>
 <context-param>
  <param-name>RED_password</param-name>
  <param-value>redd</param-value>
 </context-param>
 <context-param>
  <param-name>RED_port</param-name>
  <param-value>1521</param-value>
 </context-param>
 <context-param>
  <param-name>RED_sid</param-name>
  <param-value>orcl</param-value>
 </context-param>
 <context-param>
  <param-name>RED_username</param-name>
  <param-value>REDD</param-value>
 </context-param>
 <context-param>
  <param-name>encriptar_usuario</param-name>
  <param-value>1</param-value>
 </context-param>
 <context-param>
  <param-name>llave_encripcion</param-name>
  <param-value>uniquekey</param-value>
 </context-param>
 <servlet>
  <servlet-name>BD</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.BD</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Sec</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.Sec</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Auxiliar</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.Auxiliar</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Parcela</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.Parcela</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Individuo</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.Individuo</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Tallo</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.Tallo</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Cobertura</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.Cobertura</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Contacto</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.Contacto</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>BiomasaCarbonoParcela</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.BiomasaCarbonoParcela</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CoordenadasParcela</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.CoordenadasParcela</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ImagenesParcela</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.ImagenesParcela</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ImagenesIndividuo</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.ImagenesIndividuo</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CargueMasivo</servlet-name>
  <servlet-class>co.gov.ideamredd.admif.CargueMasivo</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SimpleCaptcha</servlet-name>
  <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
  <init-param>
   <param-name>width</param-name>
   <param-value>300</param-value>
  </init-param>
  <init-param>
   <param-name>height</param-name>
   <param-value>100</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>BD</servlet-name>
  <url-pattern>/BD</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Sec</servlet-name>
  <url-pattern>/Sec</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Auxiliar</servlet-name>
  <url-pattern>/Auxiliar</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Parcela</servlet-name>
  <url-pattern>/Parcela</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Individuo</servlet-name>
  <url-pattern>/Individuo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Tallo</servlet-name>
  <url-pattern>/Tallo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Cobertura</servlet-name>
  <url-pattern>/Cobertura</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Contacto</servlet-name>
  <url-pattern>/Contacto</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BiomasaCarbonoParcela</servlet-name>
  <url-pattern>/BiomasaCarbonoParcela</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CoordenadasParcela</servlet-name>
  <url-pattern>/CoordenadasParcela</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ImagenesParcela</servlet-name>
  <url-pattern>/ImagenesParcela</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ImagenesIndividuo</servlet-name>
  <url-pattern>/ImagenesIndividuo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CargueMasivo</servlet-name>
  <url-pattern>/CargueMasivo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SimpleCaptcha</servlet-name>
  <url-pattern>/simpleCaptcha.png</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/error.jsp</location>
 </error-page>
</web-app>
